{% extends "base.html" %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename='styles/main_content.css') }}">
{% endblock %}
{% block main %}
    <div class="categories">
        <form action=/ method="POST">
            <ul class="categories__links" id="container">
                {% for category in categories %}
                    <li><input id="{{ category.id }}" type="submit" class="categories_element"
                               value="{{ category.name }}" name="{{ category.id }}"></input></li>
                {% endfor %}
            </ul>
        </form>
    </div>

    <section class="section">
        <div class="section__title">
            <h2>Trends</h2>
        </div>
        <div class="chatrooms__container">

        {% for room in rooms %}
            <div class="chatrooms__container-chatroom" >
                <img class="chatroom__img" src="{{ url_for('rooms.static', filename='images/{0}'.format(room.image_url))}}">
                <div class="chatroom__content">
                    <h4 class="chatroom__content-title">{{ room.title }}</h4>
                    <p class="chatroom__content-description">{{ room.description }}</p>
                </div>
                <div class="chatroom__about">
                    <!-- icons likes, join, etc -->
                    <a href="#"><i class="ri-chat-2-fill"></i><span>0</span></a>
                    <a href="#"> <i class="ri-team-fill"></i><span>0</span></a>
                    <a href="#"> <i class="ri-add-circle-fill"></i><span>Join</span></a>
                    <a href="{{ url_for('rooms.room', room_id=room.id) }}"><i class="ri-door-open-fill"></i><span>chat</span></a>
                </div>
            </div>
        {% endfor %}
        </div>
        <div>
    </section>

{% endblock %}
{% block scripts %}
    <script src="{{ url_for('home.static', filename='scripts/main.js') }}"></script>
{% endblock %}