{% extends "base.html" %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename='styles/main_content.css') }}">
{% endblock %}
{% block main %}
    <div class="categories">
        <form action=/ method="POST">
            <ul class="categories__links" id="container">
                {% for category in categories %}
                    <li><input id="{{ category.id }}" type="submit" class="categories_element"
                               value="{{ category.name }}" name="{{ category.id }}"></input></li>
                {% endfor %}
            </ul>
        </form>
    </div>

    <section class="section">
        <div class="section__title">
            <h2>Trends</h2>
        </div>
        {% include 'chatrooms_section.html' %}
    </section>

{% endblock %}
{% block scripts %}
    <script src="{{ url_for('home.static', filename='scripts/main.js') }}"></script>
{% endblock %}