{% extends "base.html"  %}
{% block links %}

    <link rel="stylesheet" href="{{ url_for('rooms.static', filename='styles/chatroom.css') }}">

{% endblock links %}
{% block main %}

    <div id="joined">

    </div>

    <div id="messages__history">

    </div>

{% endblock main %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{ url_for('rooms.static', filename='scripts/chatroomSocket.js') }}" ></script>

{% endblock scripts %}
