{% extends "base.html" %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='styles/register.css') }}">
{% endblock %}

{% block main %}
    <div class="form__container">
        <h2>Register</h2>
        <div class="form__messages">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>* {{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        <form class="form" method="POST">
            {{ form.csrf_token }}
            <div>
                <i class="ri-user-fill"></i>
                {{ form.username(placeholder="username")}}
            </div>
            <div>
                <i class="ri-mail-fill"></i>
                {{ form.email(placeholder="email")}}
            </div>
            <div>
                <i class="ri-lock-fill"></i>
                {{ form.password(placeholder="password")}}
            </div>
            <div>

                <i class="ri-lock-fill"></i>
                {{ form.confirm_password(placeholder="confirm password")}}
            </div>

            <div>
                {{ form.submit(class_="submit") }}
            </div>
            <div class="form__social">
            </div>
        </form>

        <div class="form__login-option">
            <span>Already have an account? <a href="{{ url_for("auth.login") }} "> Login here</a> </span>
        </div>

    </div>
{% endblock %}

